.userListsPage {
    padding: 12rem 2rem;
    flex: 1;
}

.userListsPage header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6rem;
}

.userListsPage h1 {
    font-size: 30px !important;
    margin-bottom: 4rem;
}

/* ------------- */

/* Mensagem caso não tenha listas */
.noListsMessage p {
    text-align: center;
    font-size: 20px !important;
}

/* ------------- */

/* Disposição das listas */
.listasGrid {
    width: 100%;
    display: grid;
    grid-template-columns: 
        15rem   
        15rem
        15rem   
        15rem
        15rem;
    align-items: center;
    gap: min(4rem);
}

/* ------------- */

/* Conteúdo do modal */
.modalContent input {
    background-color: var(--dark-black-purple);
    border: solid 1px #5f5f5f;
    padding: 1rem;
    width: 100%;
    border-radius: 12px;
}

.modalContent .floatingLabel {
    left: 30px;
}

.modalContent .floatingLabel.active {
    background-color: var(--black-purple);
}