.cadastro-filme-container {
    width: 100%;
    padding: 2rem;
}

.select-box {
    position: relative;
    margin-bottom: 1rem;
}

.select-trigger {
    padding: 0.7rem;
    background: #1b1b1b;
    border-radius: 6px;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    left: 0;
    right: 0;
    top: 110%;
    background: #1f1f1f;
    border-radius: 6px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 50;
}

.drop-item {
    padding: 0.7rem;
    cursor: pointer;
}

.drop-item:hover {
    background: #333;
}

.drop-item.selected {
    background: #6d26ff;
}

.drop-item.outro {
    font-weight: bold;
    color: #bb86fc;
}

.preview-img img {
    width: 200px;
    margin: 1rem 0;
    border-radius: 6px;
}

.botoes {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 2rem;
}

.cancelar {
    background: #555;
    padding: 0.7rem 1.5rem;
    border-radius: 6px;
}

.confirmar {
    background: #6d26ff;
    padding: 0.7rem 1.5rem;
    border-radius: 6px;
}

.chips-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 8px;
}

.chip {
    padding: 6px 12px;
    background-color: #1b1b1b;
    border: 1px solid #444;
    border-radius: 20px;
    color: #ddd;
    cursor: pointer;
    transition: 0.2s ease;
    font-size: 0.9rem;
}

.chip:hover {
    background-color: #272727;
}

.chip.ativo {
    background-color: #7a1eff;
    border-color: #7a1eff;
    color: #fff;
}

.chip.ativo:hover {
    background-color: #6920d1;
}
