.formularioFilmeContainer {
    margin: 5rem;
}

.tituloForm {
    font-size: 30px !important;
    margin: 3rem 0 1rem 0;
}

.subtituloForm {
    margin-bottom: 5rem;
}

/* ------------- */

/* Formulário */
.formFilme {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
}

/* display de inputs */
.formInputsDisplay {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.formInputsDisplay .inputBox1 {
    width: 50%;
}

.formInputsDisplay .inputBox2 {
    width: 45%;
}


/* preview de imagens */
.previewImg {
    border: solid 1px var(--gray);
    border-radius: 12px;
    width: 300px;
    height: 380px;
}

.previewImg img {
    height: 380px;
    width: 300px;
    border-radius: 12px;
}

.previewImg .capaHorizontal {
    width: 675px;
}

.inputBox1 .previewImg {
    width: 675px;
}

/* label flutuante */
.formularioFilmeContainer .inputField {
    padding-left: 20px;
}

.formularioFilmeContainer .floatingLabel {
    left: 20px !important;
}

.inputContainer #sinopse {
    background-color: var(--gray);
    background-image: none;
    height: 5rem;
}

.inputContainer #sinopse.active {
    background-color: transparent;
}

/* chips de gêneros */
.selectBox {
    position: relative;
}

.chipsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 15px;
}

.chip {
    padding: 6px 12px;
    background-color: var(--dark-black-purple);
    border: 1px solid #444;
    border-radius: 20px;
    color: #ddd;
    cursor: pointer;
    transition: 0.2s ease;
    display: flex;
    align-items: center;
    gap: 10px;
}

.chip:hover {
    background-color: var(--black-purple);
}

.chip.ativo {
    background-color: var(--red);
    border-color: var(--red);
    color: #fff;
}

.chip.ativo:hover {
    background-color: var(--dark-red);
    border-color: var(--dark-red);
}

/* dropdowns */
.selectTrigger {
    padding: 0.7rem 1rem;
    background: var(--gray);
    border-radius: 50px;
    cursor: pointer;
    border: solid 2px #5f5f5f;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown {
    position: absolute;
    left: 0;
    right: 0;
    top: 120%;
    background: var(--gray);
    border-radius: 20px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 50;
    padding-left: 8px;
    border: solid 2px #5f5f5f;
}

/* busca */
.searchContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    border: none;
    border-radius: 12px;
    margin: 6px 0;
    padding: 10px 8px;
    background-color: var(--gray);
}

.searchDrop {
    width: 100%;
    border: none;
    background-color: transparent;
    color: white;
}

.searchDrop::placeholder {
    color: #fff;
}

.searchDrop:focus {
    outline: none;
}

.searchContainer:hover {
    background-color: #2b2b2b;
}

/* opções */
.dropItem {
    padding: 0.7rem;
    cursor: pointer;
    background-color: var(--gray);
}

.dropItem:hover {
    background: #2b2b2b;
}

.dropItem.selected {
    background: var(--red);
}

.dropItem.outro {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* checkboxes */
.checkboxItem {
    display: flex;
    align-items: center;
    gap: 8px;
}

.checkboxItem input {
    width: 16px;
    height: 16px;
}


/* botões confirmar e cancelar */
.botoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 4rem;
}