.listaFilmesPage {
    padding: 12rem 2rem;
    flex: 1;
    margin-bottom: 2rem;
}

.listaFilmesPage .movieCard {
    height: auto;
}

/* ------------- */

/* Caminho da página */
.breadcrumb {
    margin-bottom: 4rem;
}

.breadcrumb * {
    font-size: 30px;
    font-weight: bolder !important;
}

.breadcrumbLink {
    text-decoration: none;
}

.breadcrumbLink:hover {
    text-decoration: underline;
}

/* ------------- */

/* Disposição dos filmes */
.filmesGrid {
    width: 95%;
    display: grid;
    grid-template-columns: 
        15rem   
        15rem
        15rem   
        15rem
        15rem;
    align-items: center;
    justify-content: space-between;
    gap: min(3.5rem);
}

/* ------------- */

/* Mensagem caso não tenha filmes */
.noMoviesMessage p {
    text-align: center;
    margin-top: 10rem;
    font-size: 20px !important;
}

/* ------------- */

/* Responsividade para notebook */
@media (max-width: 1600px) {
    .filmesGrid {
        width: 98%;
        display: grid;
        grid-template-columns: 
            15rem
            15rem   
            15rem
            15rem;
        align-items: center;
        justify-content: space-between;
        gap: min(3.5rem);
    }
}