main {
    margin: 0 8rem;
    margin-bottom: 5rem;
}

/* ------------- */

/* Estilo do cabeçalho */
.headerHome {
    min-height: 100vh;
    background-image: 
        linear-gradient(to bottom, transparent 5%, var(--black-bg) 100%),
        url('../../Assets/Images/header_fundo.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 20rem;
}

.transparentLogo {
    width: 13rem;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.headerTxt {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerTxt h1 {
    font-size: 2.5em !important;
    margin-bottom: 10px;
}

.headerTxt p {
    color: var(--light-white)
}

.headerTxt p:last-of-type {
    margin-bottom: 15px;
}

.landingPage h2 {
    font-size: 28px !important;
    margin-bottom: 2rem;
}

/* ------------- */

/* Seção de cards */
.infoCardsSection {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    margin-bottom: 6rem;
}

/* ------------- */

/* Banner */
.loginBanner {
    background-image: url('../../Assets/Images/banner1.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    border-radius: 12px;
    margin-top: 4rem;
    padding: 3rem;
}

.loginBanner h2 {
    margin: 0;
}

/* ------------- */

/* Responsividade para notebook */
@media (max-width: 1600px) {
    main {
        margin-right: 5rem;
        margin-left: 5rem;
    }
}