/* Container */
.userMenuContainer {
    position: relative;
    width: 13rem;
}

/* ---------------- */

/* Header */
.userHeader {
    background: #2b292e;
    padding: 8px 16px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border: solid 2px #5f5f5f;
    transition: background-color 0.3s ease;
    min-height: 50px;
}

.user {
    display: flex;
    gap: 15px;
    align-items: center;
}

.userPhoto {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center; 
}

.arrow {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-self: flex-end;
}

.userHeader:hover {
    background-color: var(--black-bg);
}

/* ---------------- */

/* Dropdown */
.dropdownUserOptions {
    position: absolute;
    top: 4.2rem;
    background: var(--black-purple);
    padding: 12px;
    border-radius: 30px;
    width: 100%;
    border: solid 2px #5f5f5f;
}

.dropdownItem {
    padding: 10px 18px;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.dropdownItem:hover {
    background: var(--black-bg);
}

.dropdownItem img {
    width: 18px;
    height: auto;
}

.dropdownItem:nth-of-type(2) {
    padding: 10px 14px;
}

.dropdownItem:nth-of-type(2) img {
    width: 20px;
    height: auto;
}