/* Página */
.loginPage {
    margin: 0;
    background-color: var(--black-bg);
    min-height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ---------------- */

/* Container do form e imagem */
.contentContainer {
    width: fit-content;
    display: flex; 
    min-height: 90vh;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.354);
    border-radius: 20px;
}

.loginForm {
    width: 30vw;
}

/* ---------------- */

/* Imagem à direita */
.formImage {
    background-image: url('../../Assets/Images/loginImg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 28vw;
    border-radius: 20px 0 0 20px;
    position: relative;
    padding: 30px;
}

/* ---------------- */

/* Logo */
.formLogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: auto;
}

/* ---------------- */

/* Formulário */
.entryForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--black-bg);
    width: 45vw;
    align-items: center;
    border-radius: 0 20px 20px 0;
}

.entryForm h1 {
    font-size: 30px !important;
    margin-bottom: 1rem;
}

.entryForm p:first-of-type {
    color: var(--light-white);
    margin-bottom: 2rem;
}

.entryForm .primaryBtn {
    justify-self: flex-end;
    margin: 2rem 0;
}

/* ---------------- */

/* Link */
.formLinks {
    display: flex;
    justify-self: flex-end;
    margin-top: 2rem;
    gap: 4px;
    align-items: center;
}

.formLinks p {
    color: #fff !important;
    margin: 0 !important;
}

.formLinks a {
    color: var(--red);
    text-decoration: none;
    font-size: 16px !important;
}

.formLinks a:hover {
    text-decoration: underline;
}

/* ---------------- */

/* Mensagem de erro */
.errorMessage {
    color: #fff;
    background-color: #e5000073;
    padding: 1rem;
    display: flex;
    gap: 10px;
    align-items: center;
}

.errorMessage p {
    color: #fff !important;
    margin: 0 !important;
}

/* ---------------- */

/* Botão de olho */
.passwordField {
    position: relative;
    width: 100%;
}

.eyeBtn {
    position: absolute;
    right: 20px;
    top: 55%;
    transform: translateY(-55%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}
