/* Adaptações do estilo do form de login para form de cadastro */

#registerPage {
    margin: 0.3rem 0;
}

.cadastroForm {
    width: 35vw;
}

#registerPage .formImage {
    background-image: url('../../Assets/Images/cadastroImg.svg');
}

.inputsDisplay {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 60px;
}

#registerPage .inputField:nth-child(2) {
    padding: 20px 16px 18px 30px; /* espaço para o ícone */
}

#registerPage .inputContainer:nth-child(2) .floatingLabel {
    left: 30px;
}

#registerPage .entryForm {
    margin: 3rem 0;
}

#registerPage .errorMessage {
    margin-bottom: 2rem;
}

/* ------------- */

/* Responsividade para notebook */
@media (max-width: 1600px) {
    #registerPage {
    margin: 2rem 0;
}
}