nav {
    background-color: transparent;
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    z-index: 100; /* para ficar acima de imagens e textos do header */
}

nav img {
    width: 150px;
    height: auto;
}