/* Estilo básico da navbar */
nav {
    background-color: transparent;
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100; /* para ficar acima do header */
}

nav .logo {
    width: 150px;
    height: auto;
}

nav .logo2 {
    width: 35px;
    height: auto;
}

/* ---------------- */

/* Links */
nav ul {
    display: flex;
    gap: 4rem;
    background-color: var(--black-purple);
    padding: 0.5rem 1rem;
    border-radius: 12px;
    border: solid 2px #5f5f5f;
}

nav ul li {
    list-style: none;
    padding: 0.7rem;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

nav ul li a {
    text-decoration: none;
}

nav ul li:hover {
    background-color: var(--black-bg);
}

/* ---------------- */

/* Menus de opções do usuário */
.userMenus {
    display: flex;
    gap: 5rem;
    align-items: center;
}