/* Estilo base */
.primaryBtn, .secondaryBtn, .terciaryBtn {
    display: flex;
    width: fit-content;
    text-align: center;
    padding: 0.7rem 1rem !important;
    border-radius: 6px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    height: fit-content;
}

/* ---------------- */

/* Estilos específicos */
.primaryBtn {
    background-color: var(--red);
}

.primaryBtn:hover {
    background-color: var(--dark-red);
}

.secondaryBtn {
    background-color: var(--black-purple);
}

.secondaryBtn:hover {
    background-color: var(--dark-black-purple);
}

.terciaryBtn {
    background-color: transparent;
    border: solid 1px #fff;
}

.terciaryBtn:hover {
    background-color: #fff;
    color: #000;
}

.terciaryBtn:active {
    background-color: #d2d2d2;
}

/* ---------------- */

/* Ícone do botão */
.icon {
    width: 18px;
    height: auto;
    margin-right: 8px;
}