/* Estilos básicos */
.homePage {
    flex: 1;
}

.homePage header {
    margin-bottom: 15rem;
}

.homePage section {
    margin: 0 2rem 10rem 2rem;
}

.homePage section h1 {
    font-size: 30px !important;
}

.generosContainer {
    margin-top: 2rem;
}

/* ------------- */

/* Banner carrossel */
.slide {
    position: relative;
    height: 130vh;
    overflow: hidden;
}

.imgBanner {
    position: relative;
    width: 100%;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

/* gradiente sobre a imagem */
.gradientOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(32, 30, 33, 0.32) 0%, var(--black-bg) 100%);
    pointer-events: none;
    z-index: 1;
}

/* botões do carrossel */
.displayBtns {
    display: flex;
    gap: 1rem;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 2;
}

.slick-dots {
    position: absolute;
    bottom: 40px !important;
    width: 100%;
    display: flex !important;
    justify-content: center;
    z-index: 1000 !important; /* acima do gradiente */
}

.slick-dots li button:before {
    opacity: 0.5 !important;
    color: transparent !important;
    content: '';
    height: 4px !important; 
    background-color: #fff;
    border-radius: 2px; 
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    background-color: var(--red) !important;
}

.displayBtns .secondaryBtn .icon {
    height: 24px;
    margin: 0;
}

.slick-prev, .slick-next {
    width: 50px !important;
    height: 50px !important;
    z-index: 1000;
    top: -15% !important;
    background-color: var(--gray) !important;
    border-radius: 8px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.slick-prev:hover, .slick-next:hover {
    background-color: #000 !important;
}

.slick-prev:before,
.slick-next:before {
    content: '' !important;
}

.slick-prev {
    left: 90% !important;
    background-image: url('../../Assets/Images/Icons/prev_arrow_icon.svg') !important;
    background-size: fit !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.slick-next {
    right: 2% !important;
    background-image: url('../../Assets/Images/Icons/next_arrow_icon.svg') !important;
    background-size: fit !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

/* ------------- */

/* Banner */
.homePage aside h2 {
    font-size: 28px !important
}

.homePage aside {
    background-image: url('../../Assets/Images/banner2.svg');
    height: 35vh;
}

/* ------------- */

/* Responsividade para notebook */
@media (max-width: 1400px) {
    .slick-prev {
        left: 88% !important;
    }
}
