/* Variáveis globais de cores */

:root {
    --black-bg: #201E21;
    --red: #E50000;
    --dark-red: #bb0606;
    --black-purple: #2b292e;
    --gray: #393939;
    --dark-black-purple: #18181a;
    --light-white: #caced5;
}