/* Reset global do estilo */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope';
    font-size: 18px;
    color: #fff;
}

body {
    background-color: var(--black-bg);
    overflow-x: hidden; 
}

/* Responsividade para notebook */
@media (max-width: 1600px) {
    * {
        font-size: 16px;
    }
}