.filmePage {
    margin: 10rem 3rem 3rem 3rem;
}

.filmeCapa {
    width: 100%;
    height: auto;
    position: relative;
}

.filmeCapa .displayBtns {
    bottom: 0;
}

.filmeCapa .capaHorizontal {
    width: 100%;
    height: auto;
    border-radius: 12px;
    border: solid 1px var(--gray);
}

.filmeCapa::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(to bottom, rgba(32, 30, 33, 0.32) 5%, var(--black-bg) 100%);
    pointer-events: none;
}

.filmeCapa h1 {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    font-size: 30px;
}

.infosFilme {
    margin: 6rem 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.infosFilme .infos1 {
    width: 65%;
}

.infosFilme .infos2 {
    width: 32%;
}

.infosFilme article {
    min-height: 9rem;
    margin-bottom: 2rem;
    border-radius: 12px;
    width: 100%;
    object-fit: contain;
    object-position: top;
    padding: 2rem;
    background-repeat: no-repeat;
}

#sinopse {
    background-image: url('../../Assets/Images/sinopse_bg.png');
}

#trailer {
    background-image: url('../../Assets/Images/trailer_bg.png');
}

#elenco {
    background-image: url('../../Assets/Images/elenco_bg.png');
}

.titleDisplay {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 1.5rem;
}

.infosFilme p {
    text-align: justify !important;
    line-height: 1.5rem;
}

.titleDisplay p {
    font-weight: 600 !important;
    font-size: 18px;
}

.trailerIframe {
    width: 100%;
    height: 450px;
    border-radius: 12px;
    overflow: hidden; 
    border: none;
}

.atorCard {
    width: fit-content !important;
    max-height: 20rem;
    background-color: var(--dark-black-purple);
    border-radius: 8px !important;
    padding: 1rem !important;
    margin-bottom: 0 !important;
}

.atoresGrid .slick-track {
    margin: 0 !important;
}

.atorCard img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    margin-bottom: 0.5rem;
}

.atorCard p {
    height: 2rem;
}

#duracao {
    background-image: url('../../Assets/Images/duracao_bg.png');
}

#ano {
    background-image: url('../../Assets/Images/ano_bg.png');
}

#avaliacoes {
    background-image: url('../../Assets/Images/nota_bg.png');
}

.labelItem {
    padding: 0.5rem 0.8rem;
    border-radius: 8px;
    border: solid 2px #fff;
    width: fit-content;
}

.labels {
    display: flex;
    gap: 1rem;
}

#genero {
    background-image: url('../../Assets/Images/generos_bg.png');
}

#diretor {
    background-image: url('../../Assets/Images/diretor_bg.png');
}

#produtora {
    background-image: url('../../Assets/Images/produtoras_bg.png');
}

.avaliacoesHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
}