.filmePage {
    margin: 10rem 3rem 3rem 3rem;
}

.filmeCapa {
    width: 100%;
    height: auto;
    position: relative;
}

.filmeCapa .capaHorizontal {
    width: 100%;
    height: auto;
    border-radius: 12px;
    border: solid 1px var(--gray);
}

.filmeCapa::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(to bottom, rgba(32, 30, 33, 0.32) 5%, var(--black-bg) 100%);
    pointer-events: none;
}

.filmeCapa h1 {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    font-size: 30px;
}

.infosFilme {
    margin-top: 6rem;
    width: 100%;
    display: flex;
    gap: 5rem;
    justify-content: flex-start;
}

.infosFilme .infos1, .infosFilme .infos2 {
    width: 50%;
}

.infosFilme article {
    min-height: 10rem;
    margin-bottom: 2rem;
    border-radius: 6px;
    width: 100%;
    object-fit: contain;
    object-position: top;
    padding: 2rem;
    background-repeat: no-repeat;
}

#sinopse {
    background-image: url('../../Assets/Images/sinopse_bg.png');
}

#trailer {
    background-image: url('../../Assets/Images/trailer_bg.png');
}

#elenco {
    background-image: url('../../Assets/Images/elenco_bg.png');
}

.titleDisplay {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 1.5rem;
}

.infosFilme p {
    text-align: justify !important;
}

.titleDisplay p {
    font-weight: 600 !important;
    font-size: 16px;
}