.movieCard {
    padding: 20px;
    background-color: var(--black-purple);
    border-radius: 12px;
    border: solid 1px #5f5f5f;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 17rem;
    cursor: pointer;
    height: 25rem;
    position: relative;;
}

.movieCard:hover {
    background-color: var(--dark-black-purple);
}



.movieCard img {
    width: 14rem;
    height: 16rem;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
}

.movieCard section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 6px 0 1rem 0 !important;
    width: 95%;
    gap: 1rem;
}

.movieCard section h3 {
    font-weight: 400;
}

.cardImg {
    position: relative;
}

.cardImg button {
    position: absolute;
    right: 5%;
    top: 5%;
    padding: 15px 16px;
    border-radius: 10px;
    cursor: pointer;
}

.cardImg button img {
    width: 90%;
    height: auto;
    border-radius: 0;
}

.saveBtn {
    background: linear-gradient(180deg, #4532524a, #45325276);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px); /* Safari */
    border: 1px solid #8f859664;
    display: none;
}

.movieCard:hover .saveBtn {
    display: block;
}

.saveBtn:hover {
    background: linear-gradient(180deg, #3608543c, #3608546d);
    border: 1px solid #9677ab53;
}

/* Estrelas */

.movieStars {
    position: absolute;
    bottom: 20px;
    display: flex;
    gap: 2px;
    align-items: center;
    border-radius: 50px;
    background-color: var(--dark-black-purple);
    padding: 8px;
}

.movieStars svg {
    width: 16px;
    height: auto;
}

.star.filled path {
    color: var(--red) !important;
}

.star.empty path {
    color: #5f5f5f !important;
}

#lancamento p {
    color: #5f5f5f;
    margin-right: 4px;
}

#lancamento span, p {
    font-size: 14px;
}